<div class="terms_of_use">
  <h1>Terms Of Use</h1>
  <div class="terms">
    <p>
      Hello, Welcome to Flametalks.com the website is managed and operated by the website administrators.
      By using our service and system you agree to the terms that detailed in this document,read them carefully.
    </p>
    <ol>
      <li>The website administrators able to decide which content will display in the website , how long it will will be displayed , where they will be placed and any other matter related.</li>
      <li>The website administrators will not be responsible for any direct or indirect, financial or otherwise , damage caused by using the site,  and \ or reliance on the service or the information displayed in the site and its contents.</li>
      <li>The website administrators will not be responsible for any information and content that will be displayed on the site by third-party or for any consequences of relying on them and / or use them.</li>
      <li>Please avoid using of offensive language (sexual content, insulting, threat, degrading, inciting, teasing) while using the service.</li>
      <li>Do not upload to the site any substance that can disturb other user's privacy.</li>
      <li>Do not include any copyrighting or piratical content while uploading content to the website.</li>
      <li>Please avoid spam.</li>
      <li>The website administrators will not responsible to any messages, reports or posts from any kind, also the website is not responsible to the habits of discussions and their content.
      The responsibility is on the user!</li>
      <li>The website administrators will not take responsibility on any damage , incident or lost that will appear because trusting on information that published on the website.</li>
      <li>Don't post or publish any personal information of other users (include cellphone numbers).</li>
      <li>We recommend to the user not to post or expose any personal information such as address or phone numbers , to avoid harassment by other users.</li>
      <li>The website administrators can delete or edit any message without the publisher permission.</li>
      <li>The users don't allow to post anything with profitable goal ( ads , marketing sites , forums , personal         websites , software etc.).</li>
      <li>The users don't allow to post anything that may cause damage , change , transfer or hide files of another users without his permission , posting malicious software or links will cause immediately to be ban from the website , and we may pass it to the enforcement forces.</li>
      <li>The information that users post on the website is public , also all the intellectual property will be belong to flametalks.com and they can use it anyway they want to.</li>
      <li>Do not impersonate another user or personality.</li>
      <li>Do not post link that his content is violates the terms specified on this document.</li>
      <li>Our website include ads , those ads can become in text , voice or image.</li>
      <li>The website administrators don't responsible to any action came out using the info or service that the ads offering.</li>
      <li>All the copyright and the intellectual property in flametalks.com including: the name of the website ,     his trademarks , the design of the website , the programming , graphics etc.</li>
      <li>The website administrators is authorized to change his policies and terms anytime and without having to a known anything about the change.</li>
      <li>The website administrators are able to ban anyone without early informing.</li>
      <li>The website administrators is not committed to provide any technical support.</li>
      <li>The website administrators are able to delete anything they have published.</li>
      <li>The website is using data from cookies in order provide better statistics on the activity of visitors in the website , customize the website to the users and customize relevant ads for the users.</li>
    </ol>

  </div>
</div>
