body
{
  font-family: 'Roboto';
  background-color: #ecf0f1;
}

#logo
{

  color: #566270;
  font-size: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #FFFFF7;
  border-bottom: 1.5px solid #E7E7E7;
}

#logo img
{
  margin: 10px;
  width: 180px;
  display: inline;

}

#logo p
{
  margin-top: 0px;
  display: inline-block;
  position:absolute;
  top:28px;
  margin-left: 10px;
}

.page_wrapper
{
  margin: 0 auto;
  margin-top: 100px;
  width: 75%;
  height: auto;
  /*border: 1px solid black;*/
}

.sidebar
{
  width: 40%;
  /*border: 1px solid black;*/
  float: right;
  height: auto;
  margin-top: 0px;
}
.posthought
{
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  text-align: center;
  color: #566270;
  font-weight: lighter;

}

.posthought input
{
  border: 1px solid #E0E3DA;
  border-radius: 10px;
  padding: 5px;
  margin-left: 3px;
}

#postbox
{
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 0 auto;
  border-bottom: 2px solid #E53A40;
  text-align: center;
  position: fixed;

}

#tagsbox
{
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 0 auto;
  border-bottom: 2px solid #E53A40;
  text-align: center;
  margin-top: 250px;
  position: fixed;

}

#postbox h2
{
  padding-top: 20px;
  color: #2c3e50;

}

#postbox input
{
  margin-top: 5px;
  width: 120px;
}

#submit
{
  color: white;
  background-color: #E53A40;
  border: 0px solid white;
  border-radius: 5px;

}

.posts-container
{
  width: 50%;
  margin-left: 50px;
}

.post
{
  background-color: white;
  width: 100%;
  height: 330px;
  border-top: 1px solid #ecf0f1;
  border-bottom: 2px solid #E26E67;
  margin-top: 10px;
}


#author
{
  font-weight: bold;
  color:#566270;
  position: relative;
  top:10px;
  left: 10px;

}

#content
{
  background-color: #e74c3c;
  text-align: center;
  width: 100%;
  height: 250px;
  margin-top: 20px;
  color: white;

}

#content p
{
  padding-top:100px;
  font-size: 24px;
}

#post-bottom
{
  width: 100%;
  height: 30px;
  margin: 10px;

}

#likenumber
{
  margin: 10px;
  color:#F16B6F;
  display: inline;

}
#base
{
  background-color: #E53A40;
  color: white;
  display: inline;

}


#toum
{
  color:#F16B6F;
}


.likes
{
  width: 15px;
  height: 15px;
  display:inline;
}

.likes img
{
  width: 10px;
}


#bar
{
  background-color: #FFBC42;
  display: inline;
  color: white;
  margin-bottom: 10px;
}

#base
{
  background-color: #E53A40;
  color: white;
  display: inline;

}

#bomb
{
  background-color: #ff4e50;
  color: white;
  display: inline;
}

#onfire
{
  background-color: #AF4034 ;
  color: white;
  display: inline;

}


.terms_of_use
{
  text-align: center;
  width: 620px;
  margin: 0 auto;
  color:#566270;

}

.terms
{
  margin: 10px;
}
.terms li
{
  margin: 10px;
}
.ads
{
  overflow:hidden;

}
